﻿
@{
    Layout = null;
}

@{
    ViewBag.Title = "AccessDenied";
}

<h2>AccessDenied</h2>

<h4>
    <font color='RED'>Unauthorized: Access is denied due to invalid credentials.</font>
    <br />
    @ViewBag.ErrorMessage
    <br />
    <br />

    <font color='BLUE'>Please contact IT support.</font>
</h4>
