﻿<meta name="viewport" content="width=device-width" />

@{
    ViewBag.Title = "Attendance";
}

<h3>@ViewBag.Title</h3>

<p>
    
    <h5>
        This application will allow the Valor admin staff and faculty to take the following attendance:
    </h5>

    @{ if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Front Desk"))
       {
            <h4>Student</h4>
            <h5>
                <ul style="list-style-type:circle">
                    <li>@Html.ActionLink("Student Attendance by Day", "../student/dayindex")</li>
                    <li>@Html.ActionLink("Student Attendance by Class", "../student/classindex")</li>
                </ul>
            </h5>
       }
    }

    @{ if (HttpContext.Current.User.IsInRole("Admin") ||
           HttpContext.Current.User.IsInRole("Teacher") || 
           HttpContext.Current.User.IsInRole("Front Desk"))
        {
            <h4>Course</h4>
            <h5>
                <ul style="list-style-type:circle">
                    <li> @Html.ActionLink("Attendance by Course", "../course")</li>
                </ul>
            </h5>
        }
    }

    @{ if (HttpContext.Current.User.IsInRole("Admin") || 
           HttpContext.Current.User.IsInRole("Front Desk"))
        {
            <h4>Global</h4>
            <h5>
                <ul style="list-style-type:circle">
                    <li> @Html.ActionLink("Global Attendance by All Day", "../global/alldayindex")</li>
                    <li>  @Html.ActionLink("Global Attendance by Time/Class Period", "../global/timeindex")</li>
                </ul>
            </h5>
        }
    }


    @*@{ if (HttpContext.Current.User.IsInRole("Admin") ||
           HttpContext.Current.User.IsInRole("Front Desk"))
     {
        <h4>Enrollment</h4>
        <h5>
            <ul style="list-style-type:circle">
                <li> @Html.ActionLink("Update Student Class Enrollment", "../enrollment")</li>
            </ul>
        </h5>
     }
    }*@

    @{ if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Teacher"))
         {
            <h4>Reports</h4>
            <h5>
                <ul style="list-style-type:circle">
                    @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Teacher"))
                    {
                        <li> @Html.ActionLink("Faculty - Students Attendance Report", "../report/facultyclassattendance", new { currentDate = DateTime.Now })</li>
                    }
                </ul>
            </h5>
         }
        }


</p>
