﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


<div class="display-field">

    <h4>Schoology SAML XML (Current User)</h4>

    @ViewBag.SAMLResponse

    <br />
    <br />

    @MvcHtmlString.Create(HttpUtility.HtmlDecode(@ViewBag.Saml))

</div>
