﻿<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Attendance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")




    @*Grid.MVC Style Sheets and Scripts*@
    @Styles.Render("~/Content/Gridmvc.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/Scripts/jquery-2.1.4.min.js")
    @Scripts.Render("~/Scripts/gridmvc.min.js")

    @*Datepicker*@
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <style>
        ul.nav li.dropdown:hover > ul.dropdown-menu {
            display: block;
        }
    </style>

    @*
        In order to not show the webpages outside of Schoology, we check to see if
        the webpages are being rendered in a iFrame. We initially set the menu and the
        body to display none using css id tags. The OWIN security will check the credentials
        to whether to display the page or not depending on authorization to access the page.
    *@
    <script type="text/javascript">

        $(document).ready(function () {
            if (top == self) {
                //alert('Not in an iframe');
                var url = '@Url.Action("AccessDenied", "Error", new { errorMessage = "You are not authorize to access this application outside of Schoology." })';
                // Comment out for debugging.
                //window.location.href = url;
            }
            else {
                $("#initiallyHiddenBlockMenu").show();
                $("#initiallyHiddenBlockBody").show();
                //alert('In an iframe');
            }

            // Debug
            // Comment out for production
            $("#initiallyHiddenBlockMenu").show();
            $("#initiallyHiddenBlockBody").show();
        });

    </script>

</head>
<body>

    <div id="initiallyHiddenBlockMenu" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Attendance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>*@
                        @*<li>@Html.ActionLink("Attendance", "Index", "Attendance")</li>*@

                        @{ if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Front Desk"))
                         {

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Students <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Attendance by Day", "DayIndex", "Student")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Attendance by Class", "ClassIndex", "Student")</li>

                                    @*<li class="dropdown-header">Nav header</li>*@

                                </ul>
                            </li>
                         }
                        }

                        @{ if (HttpContext.Current.User.IsInRole("Admin") ||HttpContext.Current.User.IsInRole("Teacher") || HttpContext.Current.User.IsInRole("Front Desk"))
                         {

                            @*<li>@Html.ActionLink("Students", "Index", "Student")</li>*@

                            <li>@Html.ActionLink("Courses", "Index", "Course")</li>


                         }
                        }


                        @{ if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Front Desk"))
                         {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Global <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Attendance by All Day", "AllDayIndex", "Global")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Attendance by Time", "TimeIndex", "Global")</li>

                                    @*<li class="dropdown-header">Nav header</li>*@

                                </ul>
                            </li>
                         }
                        }



                        @*@{ if (HttpContext.Current.User.IsInRole("Admin") ||
                            HttpContext.Current.User.IsInRole("Front Desk"))
                                                {


                                                <li>@Html.ActionLink("Enrollment", "Index", "Enrollment")</li>

                                                }
                                            }*@


                        @{ if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Teacher"))
                         {

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Teacher"))
                                    {
                                        <li> @Html.ActionLink("Faculty - Students Attendance Report", "../report/facultyclassattendance", new { currentDate = DateTime.Now })</li>
                                    }
                                </ul>
                            </li>


                         }
                        }


                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="initiallyHiddenBlockBody" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Valor Christian High School</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)



</body>
</html>
