﻿@model Schoology.Api.Entities.Models.Section

<script src="~/Scripts/jquery.blockUI.js" type="text/javascript"></script>
<link rel="Stylesheet" href="~/Content/themes/redmond/jquery-ui.css" />
@*<link rel="Stylesheet" href="~/Content/themes/BILTZER/jquery-ui.css" />*@



@using (Html.BeginForm("AllDayAttendance", "Global", FormMethod.Post, new { id = "sectionform" }))
{

    <div class="editor-field">
        <label for="date">Start Date:</label>

        @Html.TextBox("startdate")

        <label for="date">End Date:</label>

        @Html.TextBox("enddate")
    </div>

    <br />

    <p>
        @Html.ActionLink("Back to List", "AllDayIndex",
        new RouteValueDictionary {
                                    { "grid-page", @ViewBag.gridPage },
                                    { "grid-filter", @ViewBag.gridFilter },
                                    { "grid-column", @ViewBag.gridColumn },
                                    { "grid-dir", @ViewBag.gridDir },
                                    { "SearchString", @ViewBag.SearchString }
                                 })
    </p>


    @Html.DropDownList("SelectAllAttendanceCodes",

                  new SelectList(ViewBag.AttendanceCode, "Key", "Value"),
        // Text for the first 'default' option
                                              "- Select Attendance Code -"
                                             )

    <label>   Comment:</label> @Html.TextBox("SelectAllComment")
    <br />
    <br />

    <table id='myTable' class="table">

        <tr>
            <th>@Html.CheckBox("checkall")</th>
            <th>Student Name</th>
            <th width="70%"></th>
        </tr>

        <tbody>

            @for (int i = 0; i < Model.enrollments.Count; ++i)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="sid" value="@Model.enrollments[i].attendances[0].enrollment_id" class="sid" />
                    </td>
                    <td>
                        <img height="42" width="50" src=@Model.enrollments[i].picture_url /> @Html.DisplayFor(m => m.enrollments[i].name_last), @Html.DisplayFor(m => m.enrollments[i].name_first) <a href=@Html.Raw(@String.Format(@"'https://www.schoology.com/course/{0}/reports/{1}/attendance'", Model.id, Model.enrollments[i].uid)) target="_blank"><img src="~/Images/stats.png" align="top" /></a>

                        @Html.HiddenFor(m => @Model.enrollments[i].id)
                        @Html.HiddenFor(m => @Model.enrollments[i].uid)
                        @Html.HiddenFor(m => @Model.enrollments[i].name_first)
                        @Html.HiddenFor(m => @Model.enrollments[i].name_last)

                        @Html.HiddenFor(m => Model.enrollments[i].attendances[0].enrollment_id)
                        @Html.HiddenFor(m => Model.enrollments[i].attendances[0].date)
                        @Html.HiddenFor(m => Model.enrollments[i].attendances[0].status)
                        @Html.HiddenFor(m => Model.enrollments[i].attendances[0].comment)

                    </td>
                    <td width="70%"></td>
                </tr>
            }

        </tbody>

    </table>

    <div class="form-group">
        @*<div class="col-md-offset-2 col-md-10">*@
        <div>
            <input type="submit" value="Save Changes" id="save" />
        </div>
    </div>
}

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.uid }) |*@
    @Html.ActionLink("Back to List", "AllDayIndex",
        new RouteValueDictionary {
                                    { "grid-page", @ViewBag.gridPage },
                                    { "grid-filter", @ViewBag.gridFilter },
                                    { "grid-column", @ViewBag.gridColumn },
                                    { "grid-dir", @ViewBag.gridDir },
                                    { "SearchString", @ViewBag.SearchString }
                                 })
</p>


<script type="text/javascript">

    // unblock when ajax activity stops
    $(document).ajaxStop($.unblockUI);

    $(function () {

        //var daysToDisable = [0, 3, 6];

        // 0 = sunday, 1 = monday, 2 = tuesday, 3 = wednesday, 4 = thrusday, 5 = friday, 6 = saturday

        var daysToDisable = JSON.parse("[" + '@ViewBag.daysToDisable' + "]");

        $('#startdate').datepicker({
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: "../../images/attendance.png",
            buttonImageOnly: true,
            autoSize: true,
            onSelect: function (date) {
                var date2 = $('#startdate').datepicker('getDate');
                date2.setDate(date2.getDate());
                $('#enddate').datepicker('setDate', date2);
                //sets minDate to dt1 date + 1
                $('#enddate').datepicker('option', 'minDate', date2);
            },

            beforeShowDay: disableSpecificWeekDays

        }).datepicker("setDate", '@ViewBag.searchDate');

        $('#enddate').datepicker({
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: "../../images/attendance.png",
            buttonImageOnly: true,
            autoSize: true,
            onClose: function () {
                var dt1 = $('#startdate').datepicker('getDate');

                var dt2 = $('#enddate').datepicker('getDate');
                if (dt2 <= dt1) {
                    var minDate = $('#enddate').datepicker('option', 'minDate');
                    $('#enddate').datepicker('setDate', minDate);
                }
            },

            beforeShowDay: disableSpecificWeekDays

        });

        function disableSpecificWeekDays(date) {
            var day = date.getDay();
            for (i = 0; i < daysToDisable.length; i++) {
                if ($.inArray(day, daysToDisable) != -1) {
                    return [false];
                }
            }
            return [true];
        }

        // Fires the onSelect event when page loads.
        $('.ui-datepicker-current-day').click();

        //$('#save').click(function () {
        //    $.blockUI({ message: '<h1><img src="../../images/busy.gif" /> Saving Data...</h1>' });
        //});

        $('#save').click(function () {
            $.blockUI({
                message: '<h4>Please Wait...</h4>',

                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });
        });

    });

</script>


<script>
    $("document").ready(function () {

        $('#myTable td input:checkbox').prop('disabled', true);

        $('#myTable th input:checkbox').click(
            function () {
                $('input:checkbox').prop('checked', this.checked);
            }
        );

        $('#myTable tr input:checkbox').click(
            function () {
                var checkedCount = $('#myTable td input:checkbox:checked').length;
                //alert(checkedCount);
                var totalCount = $('#myTable td input:checkbox').length;
                //alert(totalCount);
                var selectAllChecked = $('#myTable th input:checkbox').prop('checked')
                //alert(selectAllChecked);

                $('#myTable th input:checkbox').prop('checked', selectAllChecked && checkedCount > 0);
                $('#myTable td input:checkbox').prop('disabled', !selectAllChecked);

                if (!selectAllChecked) {
                    $('#myTable th input:checkbox').focus();
                    $('#myTable td input:checkbox').prop('checked', false);

                }

            }
        );

    });
</script>

<div id="domMessage" style="display:none;">
    <h1>Loading Data...</h1>
</div>

<div id="loadingElement" style="display: none">
    Load data...
</div>