﻿@model Schoology.Api.Entities.Models.Section
@{
    Layout = null;
}


@{
    ViewBag.Title = "Class Roster";
}

<style>
    table {
        border-collapse: separate;
        border-spacing: 0 5em;
    }
</style>


<center>
    <h2>Valor Christian High School</h2>


    <h3>Class Roster</h3>
</center>

<table>
    <tr>
        <td align="right">Date:&nbsp;</td>
        <td>@ViewBag.Date</td>
    </tr>
    <tr>
        <td align="right">Course Title:&nbsp;</td>
        <td>@Model.course_title</td>
    </tr>
    <tr>
        <td align="right">Course Code:&nbsp;</td>
        <td>@Model.course_code</td>
    </tr>
    <tr>
        <td align="right">Section Title:&nbsp;</td>
        <td>@Model.section_title</td>
    </tr>
    <tr>
        @if (Model.teachers.Count > 0)
        {
            <td align="right">Faculty:&nbsp;</td>
            <td>@Model.teachers[0].name_display</td>
        }
        else
        {
            <td align="right">Faculty:&nbsp;</td>
            <td>n/a</td>
        }
    </tr>
</table>

<br />
<hr />

<table id='myTable' class="table" align="center">

    <tr>
        <th>@Html.CheckBox("checkall")</th>
        <th>Student Name</th>
    </tr>

    <tbody>

        @for (int i = 0; i < Model.enrollments.Count; ++i)
        {
            <tr>
                <td align="right">
                    ________
                </td>
                <td>
                    @Html.DisplayFor(m => m.enrollments[i].name_last), @Html.DisplayFor(m => m.enrollments[i].name_first)


                </td>


            </tr>

        }


    </tbody>

</table>








