﻿@model Schoology.Api.Entities.Models.Section

<script src="~/Scripts/jquery.blockUI.js" type="text/javascript"></script>
<link rel="Stylesheet" href="~/Content/themes/redmond/jquery-ui.css" />
@*<link rel="Stylesheet" href="~/Content/themes/BILTZER/jquery-ui.css" />*@

@{
    ViewBag.Title = "Global Attendance by Time";
}

<h3>@ViewBag.Title</h3>

<div class="row">

    <div id="sectioninfo" class="col-md-3">

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.course_title):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.course_title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.course_code):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.course_code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.section_title):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.section_title)
            </dd>

            @if (Model.course_code.ToLower() == "ath 100")
            {
                <dt>
                    Coach:
                </dt>
            }
            else
            {
                <dt>
                    Faculty:
                </dt>
            }

            <dd>
                @if (Model.teachers.Count > 0)
                {
                    @Html.DisplayFor(model => model.teachers[0].name_display)
                }
                else
                {
                    <p>n/a</p>
                }
            </dd>

        </dl>
    </div>
    <p>
        <b>
            @Html.ActionLink("Print Roster", "RosterPDF", "Global", new { id = @Model.id, date = @ViewBag.searchDate }, new { target = "_blank" })
        </b>
    </p>
</div>

@using (Html.BeginForm("TimeAttendance", "Global", FormMethod.Post, new { id = "sectionform" }))
{
    <div class="row">
        <div class="col-md-7">
            @Html.Partial("_TimeAttendanceGrid") @* configure grid in a partial view *@
        </div>
        <div class="col-md-5">
            <div id="schedule-content">
                <p class="muted">
                </p>
            </div>
        </div>

    </div>

}