﻿@model IEnumerable<Schoology.Api.Entities.Models.Course>

@using GridMvc.Html
@using GridMvc.Sorting

@{
    ViewBag.Title = "Global Attendance by Time";
}

<h3>@ViewBag.Title</h3>

<meta name="viewport" content="width=device-width" />

<script>

    $(function () {

        $("#Clear").on("click", function (event) {
            $("#SearchString").val("");
        });

        // Grid row selected event
        //pageGrids.courseGrid.onRowSelect(function (e) {
        //    alert(e.row.uid);
        //});

    });

</script>

@using (Html.BeginForm("TimeIndex", "Global", FormMethod.Get))
{
    <div>
        Find by name: @Html.TextBox("SearchString", ViewBag.SearchString as string)
        <input id="Search" type="submit" value="Search" />
        <input id="Clear" type="submit" value="Clear" />
    </div>

}

@Html.Grid(Model).Named("courseGrid").Columns(columns =>
{
    /* Adding "OrderID" column: */
    columns.Add(model => model.title)
            .Titled("Title")
            .Filterable(true)
            .Sortable(true)
            .SortInitialDirection(GridSortDirection.Ascending)
            .SetWidth(200);

    columns.Add(model => model.course_code)
        .Titled("Course Code")
        .Filterable(true)
        .Sortable(true)
        .SetWidth(30);

    columns.Add()
        .Titled("Sections")
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(200)
        .RenderValueAs(d =>
            @<b>
                @foreach (var a in d.section)
                {
                    @Html.ActionLink(@a.section_title, "TimeAttendance", new { id = a.id, currentDate = DateTime.Now })

                    <br />
                }

            </b>

        );

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(100)
        .RenderValueAs(d =>
            @<b>

            </b>);


}).WithPaging(10).Selectable(false)