﻿@model List<Schoology.App.Attendance.Models.StudentAttendanceByClassModel>

<h4>
    <b>Class Schedule for @ViewBag.StartCalendarDate</b>

</h4>


<table id='myTable' class="table">
    <tr>
        <th>Class</th>
        <th>Period</th>
        <th>Attendance Code</th>
        <th>Comment</th>
        <th width="1%"></th>
    </tr>

    <tbody>

        @for (int i = 0; i < Model.Count; ++i)
        {
            <tr>
                <td>
                    @Html.Label(@Model[i].Class, new { @class = "helperLabelSectionCode" })
                    @Html.HiddenFor(m => m[i].Class)

                    @Html.HiddenFor(m => m[i].SectionId)
                    @Html.HiddenFor(m => m[i].EnrollmentId)
                    @Html.HiddenFor(m => m[i].AttendanceDate)


                </td>
                <td>
                    @Html.Label(@Model[i].Period, new { @class = "helperLabelBlockColor blockScheduleColor" + @Model[i].BlockColor, style = "width: 145px; text-align: center" })
                    @Html.HiddenFor(m => m[i].BlockColor)
                    @Html.HiddenFor(m => m[i].Period)
                </td>

                <td>

                    @Html.DropDownListFor(m => m[i].Status,

               new SelectList(ViewBag.AttendanceCode, "Key", "Value", @Model[i].Status),
                // Text for the first 'default' option
                                              

                                              // A class name to put on the "<select>"
                                           new Dictionary<string, object> { { "data-val", false } }
                                             )
                </td>
                <td>
                    @Html.TextBoxFor(m => m[i].Comment)
                </td>

                <td width="1%"></td>
            </tr>

        }

    </tbody>


</table>

