﻿<p>
    @Html.ActionLink("Back to List", "DayIndex",
        new RouteValueDictionary {
                                    { "grid-page", @ViewBag.gridPage },
                                    { "grid-filter", @ViewBag.gridFilter },
                                    { "grid-column", @ViewBag.gridColumn },
                                    { "grid-dir", @ViewBag.gridDir },
                                    { "SearchString", @ViewBag.SearchString }
                                 })
</p>

<div class="week-picker"></div>
@Html.Hidden("startDate")
@Html.Hidden("endDate")

<br />

<div class="form-group">
    @*<div class="col-md-offset-2 col-md-10">*@
    <div>
        <input type="submit" value="Save Changes" id="save" />
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "DayIndex",
        new RouteValueDictionary {
                                    { "grid-page", @ViewBag.gridPage },
                                    { "grid-filter", @ViewBag.gridFilter },
                                    { "grid-column", @ViewBag.gridColumn },
                                    { "grid-dir", @ViewBag.gridDir },
                                    { "SearchString", @ViewBag.SearchString }
                                 })
</p>


<script type="text/javascript">

    // unblock when ajax activity stops
    $(document).ajaxStop($.unblockUI);

    $(function () {

        // 0 = sunday, 1 = monday, 2 = tuesday, 3 = wednesday, 4 = thrusday, 5 = friday, 6 = saturday
        var daysToDisable = [0, 6];



        var startDate;
        var endDate;


        var selectCurrentWeek = function () {
            window.setTimeout(function () {
                $('.week-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
            }, 1);
        }

        $('.week-picker').datepicker({
            changeYear: true,
            changeMonth: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            //dateFormat: 'dd-mm-yy',
            onSelect: function (date, inst) {
                // date parameter is of DateTime and will get passed to the ajax call as DateTime
                // otherwise the parameter in the controller has to be string.
                // That is why we declare date2 to get the date.
                var date2 = $(this).datepicker('getDate');

                // Get the date of Monday
                startDate = new Date(date2.getFullYear(), date2.getMonth(), date2.getDate() - (date2.getDay() - 1));
                // Get the date of Friday
                endDate = new Date(date2.getFullYear(), date2.getMonth(), date2.getDate() - date2.getDay() + 5);

                var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;

                // This is used with the Hidden input for the Postback when the save button is clicked
                $('#startDate').val($.datepicker.formatDate(dateFormat, startDate, inst.settings));
                $('#endDate').val($.datepicker.formatDate(dateFormat, endDate, inst.settings));

                // Format the date dd/mm/yyyy to pass back to controller
                var startDateFormatted = ($.datepicker.formatDate(dateFormat, startDate, inst.settings));
                var endDateFormatted = ($.datepicker.formatDate(dateFormat, endDate, inst.settings));

                selectCurrentWeek();

                $.ajax
                    ({
                        type: "Post",
                        url: "../../Student/DayAttendanceGrid",
                        data: "startDate=" + startDateFormatted + "&endDate=" + endDateFormatted,
                        success: function (response) {
                            $('#schedule-content').html(response);
                            //alert("success");
                        },
                        error: function (xhr, status, error) {
                            //alert("error");
                            $('#schedule-content').html("Some problem fetching data.Please try again");
                        }
                    });
            },

            beforeShowDay: function (date) {

                // Disable the weekends
                var day = date.getDay();
                for (i = 0; i < daysToDisable.length; i++) {
                    if ($.inArray(day, daysToDisable) != -1) {
                        return [false];
                    }
                }

                // Select the weekdays
                var cssClass = '';
                if (date >= startDate && date <= endDate)
                    cssClass = 'ui-datepicker-current-day';
                return [true, cssClass];
            },

            onChangeMonthYear: function (year, month, inst) {
                selectCurrentWeek();
            }

        });

        // Show current week on load
        $(".ui-datepicker-current-day").click();

        $('#save').click(function () {

            $.blockUI({
                message: '<h4>Please Wait...</h4>',

                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });
        });


    });

</script>

