﻿@model List<Schoology.App.Attendance.Models.StudentAttendanceByDayModel>


<h4>
    <b>Week Schedule for @ViewBag.StartCalendarDate - @ViewBag.EndCalendarDate</b>
</h4>

    <table id='myTable' class="table">
        <tr>
            <th>Date</th>
            <th>Cycle Day</th>
            <th>Attendance Code</th>
            <th>Comment</th>
            <th width="10%"></th>

        </tr>

        <tbody>


            @for (int i = 0; i < Model.Count; ++i)
            {
                <tr>
                    <td>
                        @Html.Label(@Model[i].Date)
                        @Html.HiddenFor(m => m[i].Date)
                    </td>
                    <td>
                        @Html.Label(@Model[i].CycleDay)
                        @Html.HiddenFor(m => m[i].CycleDay)
                    </td>

                    <td>

                        @Html.DropDownListFor(m => m[i].Status,

               new SelectList(ViewBag.AttendanceCode, "Key", "Value", @Model[i].Status),
                                              // Text for the first 'default' option
                                              "- Select Code -",

                                              // A class name to put on the "<select>"
                                           new Dictionary<string, object> { { "data-val", false } }
                                             )
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[i].Comment)
                    </td>

                    <td width="10%"></td>
                </tr>

            }

        </tbody>


    </table>



