﻿@model Schoology.Api.Entities.Models.User

<script src="~/Scripts/jquery.blockUI.js" type="text/javascript"></script>
<link rel="Stylesheet" href="~/Content/themes/redmond/jquery-ui.css" />

@{
    ViewBag.Title = "Student Attendance By Class";
}

<h3>@ViewBag.Title</h3>

<div class="row">
    <div class="col-md-1">
        <img height="84" width="100" src=@Model.picture_url />
    </div>

    <div class="col-md-5">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name_last):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name_last)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.name_first):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name_first)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gender):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.name_title):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name_title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gradeLevel):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gradeLevel)
            </dd>

        </dl>
    </div>
</div>

<br />

@using (Html.BeginForm("ClassAttendance", "Student", FormMethod.Post, new { id = "sectionform" }))
{
    <div class="row">
        <div class="col-md-4">
            @Html.Partial("_ClassAttendanceCalendar") @* configure grid in a partial view *@
        </div>
        <div class="col-md-8">
            <div id="schedule-content">
                <p class="muted">
                    
                </p>
            </div>
        </div>

    </div>

}

