﻿@model IEnumerable<Schoology.Api.Entities.Models.User>
@using GridMvc.Html
@using GridMvc.Sorting

@{
    ViewBag.Title = "Attendance by Day";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <div>
        Find by name: @Html.TextBox("SearchString", ViewBag.SearchString as string)
        <input id="Search" type="submit" value="Search" />
        <input id="Clear" type="submit" value="Clear" />
    </div>

}

<script>

    $(function () {

        // Clear the search grid
        $("#Clear").on("click", function (event) {
            $("#SearchString").val("");
        });

        // Grid row select event code
        //pageGrids.studentGrid.onRowSelect(function (e) {
        //    alert(e.row.uid);
        //});

    });

</script>

@Html.Grid(Model).Named("studentGrid").Columns(columns =>
{
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(20)
        .RenderValueAs(d =>
            @<b>
                @Html.ActionLink("Attendance", "Attendance", new { id = d.uid })

            </b>);

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(20)
        .RenderValueAs(d =>
            @<b>
                @Html.ActionLink("Details", "Details", new { id = d.uid })

            </b>);

    columns.Add(model => model.uid)
    .Titled("Id")
    .Filterable(false)
    .Sortable(false)
    .SetWidth(20);

    /* Adding "OrderID" column: */
    columns.Add(model => model.name_last)
            .Titled("Last Name")
            .Filterable(true)
            .Sortable(true)
            .SortInitialDirection(GridSortDirection.Ascending)
            .SetWidth(150);

    columns.Add(model => model.name_first)
        .Titled("First Name")
        .Filterable(true)
        .Sortable(true)
        .SetWidth(150);

    columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(300)
.RenderValueAs(d =>
    @<b>

    </b>);





}).WithPaging(10).Selectable(false)