﻿@model Schoology.App.Attendance.Models.AttendanceReportModel





<style>
    .atable, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width: "100%";
    }

    th, td {
        padding: 5px;
        text-align: left;
        font-size: 14px;
    }

    td {
        font-family: "Arial";
        font-size: 14px;
    }


    .atable tr:nth-child(even) {
        background-color: #eee;
    }

    .atable tr:nth-child(odd) {
        background-color: #fff;
    }

    .atable th {
        background-color: #4682B4;
        color: white;
    }
</style>


<script src="~/Scripts/jquery.blockUI.js" type="text/javascript"></script>
<link rel="Stylesheet" href="~/Content/themes/redmond/jquery-ui.css" />
@*<link rel="Stylesheet" href="~/Content/themes/BILTZER/jquery-ui.css" />*@



@{
    ViewBag.Title = "Faculty - Student Attendance Report";
}

<h3>@ViewBag.Title</h3>

<br />

<div class="editor-field">
    <label for="date">Attendance Date:</label>

    @Html.TextBox("attendancedate")

</div>

<br />

<table class="atable">

    <tr>
        <th>&nbsp;</th>
        <th>Date</th>
        <th>Course Name</th>
        <th>Course Code</th>
        <th>Section Title</th>
        <th>Attendance Status</th>
        <th>Attendance Comment</th>
    </tr>
    @foreach (var i in Model.AttendanceModelList)
    {
        <tr>
            <th colspan="7">@i.Title @i.FirstName @i.LastName</th>
            @*<th colspan="7">@i.Title @i.FirstName @i.LastName - [@i.UID, @i.SchoolUID]</th>*@
        </tr>



        foreach (var j in @i.AttendanceStudentSectionModel)
        {
            <tr>
                <td width="50">&nbsp;</td>
                <td width="100">@j.Date</td>
                <td width="200">@j.CourseName</td>
                <td width="100">@j.CourseCode</td>
                <td width="200">@j.SectionTitle</td>
                <td width="100">@j.AttendanceCodeTitle</td>
                <td width="300">@j.AttendanceComment</td>
            </tr>

        }
    }

</table>


<script type="text/javascript">

    // unblock when ajax activity stops
    $(document).ajaxStop($.unblockUI);

    $(function () {

        var daysToDisable = [0, 6];

        $('#attendancedate').datepicker({
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: "../images/attendance.png",
            buttonImageOnly: true,
            autoSize: true,
            onSelect: function (dateText, inst) {

                //$.blockUI({ message: $('#domMessage') });
                window.location = '@Url.Action("facultyclassattendance")?currentDate=' + dateText;
                //$.unblockUI();
            },

            beforeShowDay: disableSpecificWeekDays

        }).datepicker("setDate", '@ViewBag.searchDate');

        function disableSpecificWeekDays(date) {
            var day = date.getDay();
            for (i = 0; i < daysToDisable.length; i++) {
                if ($.inArray(day, daysToDisable) != -1) {
                    return [false];
                }
            }
            return [true];
        }

        // Fires the onSelect event when page loads.
        $('.ui-datepicker-current-day').click

        //$('#save').click(function () {
        //    $.blockUI({ message: '<h1><img src="../../images/busy.gif" /> Saving Data...</h1>' });
        //});


    });

</script>

<script>
    $("document").ready(function () {




    });
</script>

<div id="dialog">

</div>