﻿@model Schoology.Api.Entities.Models.User

<script src="~/Scripts/jquery.blockUI.js" type="text/javascript"></script>
<link rel="Stylesheet" href="~/Content/themes/redmond/jquery-ui.css" />

@{
    ViewBag.Title = "Update Student Class Enrollment";
}

<h3>@ViewBag.Title</h3>

<div class="row">
    <div class="col-md-1">
        <img height="84" width="100" src=@Model.picture_url />
    </div>

    <div class="col-md-5">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name_last):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name_last)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.name_first):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name_first)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gender):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.position):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.position)
            </dd>

        </dl>
    </div>
</div>

<br />

@using (Html.BeginForm("Update", "Enrollment", FormMethod.Post, new { id = "sectionform" }))
{


    <p>
        @Html.ActionLink("Back to List", "Index",
        new RouteValueDictionary {
                                    { "grid-page", @ViewBag.gridPage },
                                    { "grid-filter", @ViewBag.gridFilter },
                                    { "grid-column", @ViewBag.gridColumn },
                                    { "grid-dir", @ViewBag.gridDir },
                                    { "SearchString", @ViewBag.SearchString }
                                 })
    </p>


    <div class="form-group">
        @*<div class="col-md-offset-2 col-md-10">*@
        <div>
            <input type="submit" value="Update Enrollment" id="save" />
        </div>
    </div>

    <p>
        @Html.ActionLink("Back to List", "Index",
        new RouteValueDictionary {
                                    { "grid-page", @ViewBag.gridPage },
                                    { "grid-filter", @ViewBag.gridFilter },
                                    { "grid-column", @ViewBag.gridColumn },
                                    { "grid-dir", @ViewBag.gridDir },
                                    { "SearchString", @ViewBag.SearchString }
                                 })
    </p>


    <script type="text/javascript">

        // unblock when ajax activity stops
        $(document).ajaxStop($.unblockUI);

        $(function () {



            $('#save').click(function () {

                $.blockUI({
                    message: '<h4>Updating Student Class Enrollments Please Wait...</h4>',

                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
            });


        });

    </script>



}

